* {
	margin: 0;
	padding: 0;
}
.thumbnail__V2__Container {
	/* padding: 10px 0px 10px 0px; */
	/* margin-left: 1vw; */
	padding-left: 1vw;
	cursor: pointer;
	/* height: 17.92vh !important; */
	height: 24vh !important;
	/* border: 2px solid black; */
	/* width: 78vw; */
	width: 81vw !important;
	overflow: hidden;
}
#adjust__Trend {
	/* border: 2px solid blue !important; */
	width: 75vw;
}
#thumbnail__img {
	width: 200px;
	height: 138px;
	margin-top: -2vh;
	/* border: 1px solid black; */
	object-fit: contain;
}

.thumbnail__Title > h4 {
	font-size: 1.125rem;
	margin-left: 15px;
}

.thumbnail__Info {
	padding-left: 15px;
}
.thumbnail__Info > p {
	padding-right: 4px;
	font-size: 0.8125rem;
}
.thumbnail__Description > p {
	padding-left: 15px;
	font-size: 0.8125rem;
	width: 45vw;
	height: 10vh;
	/* border: 1px solid black; */
}
/* .thumbnail__Data {
	border: 1px solid black;
} */
