* {
	margin: 0;
	padding: 0;
}
.thumbnail__V2__Container {
	padding: 10px 20px 10px 20px;
	margin-left: 1vw;
	height: 17.92vh !important;
	/* border: 2px solid black; */
	/* width: 80vw; */
	flex: 0.8;
}
#thumbnail__img {
	width: 200px;
	height: 138px;
	margin-top: -2vh;
	/* border: 1px solid black; */
	object-fit: contain;
}

.thumbnail__Title > h4 {
	font-size: 1.125rem;
	margin-left: 15px;
}

.thumbnail__Info {
	padding-left: 15px;
}
.thumbnail__Info > p {
	padding-right: 4px;
	font-size: 0.8125rem;
}
.thumbnail__Description > p {
	padding-left: 15px;
	font-size: 0.8125rem;
	width: 45vw;
	height: 20vh;
	/* border: 1px solid black; */
}
