* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	/* align-items: center; */
	overflow-x: hidden;
}
.Trend__Container {
	display: flex;
	flex-direction: column !important;
	background: #f9f9f9;
	/* background: turquoise; */
	flex: 1 !important;
	/* width: 100%; */
	/* cursor: pointer; */
	align-items: flex-start;
	/* justify-content: center; */
	/* padding-left: -10px !important; */
	/* margin-left: 1svw; */
	/* border: 1px solid black; */
}

/* .Side_Bar > hr {
	height: 1px;
	border: 0;
	background-color: lightgray;
	margin-top: 10px;
	margin-bottom: 10px;
} */
#row__Trend {
	margin-bottom: 2vh;
}
