* {
	padding: 0;
	margin: 0;
}
p {
	margin: 0;
	padding: 0;
}
.videocard {
	/* border: 1px solid blue; */
	flex: 0.25;
	/* max-height: 250px; */
	/* height: 20vh; */
	/* max-width: 215px; */
	/* min-width: 15vw; */
	/* min-width: 40%; */
	/* margin-right: 10px; */

	margin-bottom: 10px;
	/* flex-wrap: wrap; */
	/*flex-direction: column; */
}
.videocard__Thumbnail {
	width: 100%;
	/* max-width: 20vw; */
	/* min-width: 30vw; */
	/* width: 17vw; */
	/* width: 15vw;
	
	border: 2px dotted yellow; */
	/* min-width: 80%; */
	/* height: 140px;
	width: 30vw; */
}
#videocard__Thumbnail {
	width: 18vw;
	height: 25vh;
	/* object-fit: contain; */
}
.videoCard__info {
	display: flex;
	margin-top: 12px;
}
.videoCard__infoText {
	flex: 1;
	text-align: left;
	margin-left: 8px;
	/* border: 1px solid black; */
}
.videoCard__title {
	font-size: 0.8rem;
	font-weight: bold;
	margin-bottom: 2px;
}
.videoCard__noOfViewspostedDate {
	font-size: 12px;
	color: #606060;
}
.videoCard__channelName {
	font-size: 14px;
	color: #606060;
}
.videoCard__ImageContainer {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	/* border: 1px solid red; */
	overflow: hidden;
}

.videoCard__ImageContainer > img {
	width: 100%;
}
@media screen and (max-width: 992px) {
	.videoCard__title {
		font-size: 0.7rem;
	}
	.videoCard__channelName .videoCard__noOfViewspostedDate {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 900px) {
	.image__Thumbnail .videocard__Thumbnail {
		height: 140px;
		width: 30vw;
	}
}
@media screen and (max-width: 767px) {
	.image__Thumbnail .videocard__Thumbnail {
		margin-top: 10px;
		height: 60vh;
		/* width: 35vw !important; */
		width: 280px !important;
		/* object-fit: contain; */
	}
}
@media screen and (max-width: 665px) {
	.image__Thumbnail .videocard__Thumbnail {
		height: 50vh;
		width: 250px !important;
	}
}
@media screen and (max-width: 600px) {
	.image__Thumbnail .videocard__Thumbnail {
		height: 50vh;
		width: 60vw;
	}
}
@media screen and (max-width: 560px) {
	.image__Thumbnail .videocard__Thumbnail {
		height: 40vh;
		width: 50vw;
	}
}
@media screen and (max-width: 450px) {
	.image__Thumbnail .videocard__Thumbnail {
		height: 35vh;
		width: 45vw;
	}
}
@media screen and (max-width: 400px) {
	.image__Thumbnail .videocard__Thumbnail {
		height: 25vh;
		width: 40vw;
	}
}
@media screen and (max-width: 200px) {
	.image__Thumbnail .videocard__Thumbnail {
		height: 20vh;
		width: 39vw;
	}
}
