.header {
	display: flex;
	height: 20vh !important;
	align-items: center;
	justify-content: space-between;
}
.header__search {
	flex: 1;
	display: flex;
	align-items: center;
	/* border: 1px solid black; */
}
.header__leftIcons {
	/* border: 1px solid black; */
	padding-left: 16px;
	padding-right: 40px;
}
.header__menuIcon {
	padding: 8px !important;
}
.header__logo {
	/* width: 80px; */
	/* height: 20px; */
	height: 3.5vh !important;
	width: 8vw !important;
	object-fit: contain;
	margin-left: 1vw !important;
	/* padding-right: 40px; */
}
.header__searchButton {
	background-color: #fafafa !important;
	height: 25px !important;
	color: gray;
	/* width: 1vw !important; */
}
.header__input {
	margin-left: 90px !important;
	padding: 4px;

	/* border: 1px solid black !important; */
}
.header__input input {
	padding: 8px !important;
	height: 2vh;
	width: 40.5vw;
}
.header__rightIcons {
	/* border: 2px solid blue; */
	padding-right: 3vw;
	padding-left: 2vw;
}
.righticons__Avatar {
	height: 6vh !important;
	width: 3vw !important;
}
.right__NotificationsIcon {
	margin-right: 2vw !important;
	margin-left: 2vw !important;
}
.right__AppsIcon {
	margin-right: 0vw !important;
	margin-left: 1vw !important;
}
.btn-group {
	position: relative;
}
.dropdown-menu {
	position: absolute !important;
}
